/* --- Base de la barre --- */
window#waybar {
    background-color: rgba(30, 30, 46, 0.9); /* Mocha Base */
    color: #cdd6f4;
    border-right: 2px solid #cba6f7;
}

/* --- Modules Left (Workspaces) --- */
#workspaces {
    margin: 5px 0;
}

#workspaces button {
    padding: 10px 0;
    color: rgba(205, 214, 244, 0.4); /* Chiffres inactifs discrets */
    font-size: 16px;
    font-weight: bold;
    border-radius: 0;
}

#workspaces button.active {
    color: #cba6f7; /* Mauve actif */
    border-left: 3px solid #cba6f7;
    background: rgba(203, 166, 247, 0.1);
}

#workspaces button.urgent {
    color: #f38ba8;
}

/* --- Modules Center (Clock) --- */
#clock {
    color: #cba6f7;
    font-weight: bold;
    padding: 10px 0;
    font-family: "JetBrainsMono Nerd Font";
}

/* --- Modules Right (Systray, Battery, etc) --- */
#network, #bluetooth, #pulseaudio, #battery, #custom-power {
    padding: 12px 0;
    margin: 5px 0;
    font-size: 18px;
}

/* Couleurs spécifiques Catppuccin */
#network { color: #89b4fa; }     /* Blue */
#bluetooth { color: #89dceb; }   /* Sky */
#pulseaudio { color: #fab387; }  /* Peach */
#battery { 
    color: #a6e3a1;              /* Green */
    font-size: 14px; 
}
#custom-power { 
    color: #f38ba8;              /* Red */
    padding-bottom: 20px;
}

/* Tooltip (Calendrier) */
tooltip {
    background: #1e1e2e;
    border: 1px solid #cba6f7;
}
tooltip label {
    color: #cdd6f4;
}

