* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(36, 39, 58, 0.9);
    border-right: 2px solid #ed94c1;
    color: #cad3f5;
    /* On force les marges à 0 pour coller aux bords */
    margin: 0;
}

/* On remplace text-align par du padding pour l'horloge */
#clock {
    font-weight: bold;
    color: #ed94c1;
    padding: 15px 5px;
}

#workspaces {
    margin-top: 10px;
}

#workspaces button {
    color: #ed94c1;
    padding: 8px 0;
}

#workspaces button.active {
    color: #f5bde6;
    background: rgba(245, 189, 230, 0.1);
}

#custom-power {
    font-size: 22px;
    color: #ee99a0;
    padding-top: 10px;
    padding-bottom: 15px;
}

#battery, #pulseaudio, #network {
    padding: 10px 0;
}

#battery {
    color: #a6da95;
}
