window {
    background-color: rgba(30, 30, 46, 0.5); /* Couleur de fond (Mocha) */
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-style: solid;
    background-color: rgba(49, 50, 68, 0.3);
    border: 3px solid transparent;
    border-radius: 20px; /* Bords arrondis comme ton horloge */
    margin: 20px;
    transition: all 0.3s ease;
}

button:focus, button:active, button:hover {
    background-color: rgba(203, 166, 247, 0.2); /* Mauve au survol */
    border: 3px solid #cba6f7;
}

/* On force la grille de 2x2 */
grid {
    margin: 300px; /* Ajuste pour que les boutons soient plus ou moins grands */
}

/* Tes icônes spécifiques (vérifie les chemins) */
#lock { background-image: image(url("icons/lock.png")); }
#logout { background-image: image(url("icons/logout.png")); }
#shutdown { background-image: image(url("icons/shutdown.png")); }
#reboot { background-image: image(url("icons/reboot.png")); }
